* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	background-color: #0e0510;
	animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

