.main {
	width: 100%;
	height: auto;
	background-color: #0e0510;
}

.container {
	width: 1440px;
	height: 3200px;
	margin: auto;
	padding: 24px;
	z-index: 10;
}

@media only screen and (max-width: 600px) {
	.main {
		width: 390px;
		overflow: hidden;
		height: auto;
	}
	.container {
		width: 390px;
		overflow: hidden;
		height: auto;
	}
}
