.cta {
	width: 1400px;
	height: 452px;
	display: flex;
	align-items: center;
}

.background {
	width: 1392px;
	height: 452px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	background: linear-gradient(174.06deg, rgba(255, 7, 139, 0.4) 20.44%, rgba(255, 7, 139, 0.09) 73.31%);
	border-radius: 25px;
}

.text {
	width: 1376px;
	height: 220px;
	font-weight: 400;
	font-size: 90px;
	line-height: 110px;
	padding: 27px;
	color: #ffffff;
}

.paragraphButton {
	width: 100%;
	height: 118;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	padding: 27px;
}

.paragraph {
	width: 800px;
	height: 118px;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #c4c4c4;
}

.link {
	width: 308px;
	height: 101px;
	border-radius: 20px;
	padding: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #ffffff;
	font-size: 30px;
	color: white;
}

@media only screen and (max-width: 600px) {
	.cta {
		width: 350px;
		height: auto;
		padding: 20px;
	}

	.background {
		width: 100%;
		height: auto;
		padding: 20px;
		border-radius: 10px;
	}

	.text {
		width: 100%;
		height: auto;
		font-size: 35px;
		line-height: 30px;
	}

	.paragraphButton {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 0px;
		padding-top: 0px;
		font-size: 20px;
	}

	.paragraph {
		width: 100%;
		height: auto;
		font-size: 20px;
		line-height: 24px;
	}

	.link {
		width: 100%;
		height: auto;
		padding: 20px;
		font-size: 20px;
		margin-top: 20px;
		text-align: center;
		margin-right: 5px;
	}
}
