.hero {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	z-index: 10;
}
.text {
	font-size: 75px;
	font-weight: bold;
	z-index: 10;
	line-height: 85px;
	position: relative;
	color: white;
}
.textRed {
	font-size: 75px;
	font-weight: bold;
	z-index: 10;
	line-height: 85px;
	position: relative;
	color: #ff078b;
}
.paragraph {
	font-size: 25px;
	margin-top: 40px;
	position: relative;
	color: white;
}
.cta {
	display: flex;
	width: 210px;
	height: 75px;
	background-color: #ff078b;
	text-decoration: none;
	color: white;
	font-size: 25px;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
.gradient {
	position: absolute;
	width: 600px;
	height: 600px;
	background: radial-gradient(rgba(255, 7, 139, 0.312), rgba(255, 7, 139, 0.046));
	border-radius: 100%;
	filter: blur(2rem);
	position: absolute;
	top: -40px;
	right: 700px;
}

@media only screen and (max-width: 600px) {
	.hero {
		flex-direction: column;
		margin-top: 20px;
		overflow: hidden;
		width: 350px;
	}

	.text {
		font-size: 35px;
		line-height: 50px;
		width: 390px;
	}

	.textRed {
		font-size: 35px;
		line-height: 50px;
	}

	.paragraph {
		font-size: 20px;
		margin-top: 20px;
	}

	.cta {
		width: 150px;
		height: 50px;
		font-size: 20px;
		margin-top: 20px;
	}

	.gradient {
		width: 400px;
		height: 400px;
		top: 20px;
		right: -100px;
	}
}
